# Configuration file

debug {
    # If true, debug information will be output to the console.
    B:enableDebug=false

    # If true, any blocks/items that are missing an Information record will be registered.
    B:registerJeiMissingInformation=false

    # If true, any blocks/items that are missing an Information record will be output to the console.
    B:showJeiMissingInformation=false

    # If true, any blocks/items that register an Information record will be output to the console.
    B:showJeiRegisteredInformation=false

    # If true, the item translation key will be show in the tooltip.
    B:showTooltipTranslationKey=false

    # If true, the block translation key will be show in The One Probe.
    B:showTopBlockTranslationKey=false

    # If true, the block translation key will be show in Waila.
    B:showWailaBlockTranslationKey=false

    # If true, any blocks that are registered will be output to the console.
    B:showWailaBlocksRegistered=false

    # If true, any entities that are registered will be output to the console.
    B:showWailaEntitiesRegistered=false
}


gui {
    # If true, will integrate with the GUI.
    B:enableGuiIntegration=true

    tektopiainformationbook {
        # If true, will show the TekTopia Information Book when the player right-clicks a villager with a book in hand. When connected to a server, both the client and server must have this option enabled to display to information book.
        B:enableTektopiaInformationBook=true
    }

}


jei {
    # If true, will integrate with JEI.
    B:enableJeiIntegration=true

    # If true, will show the information tab in JEI.
    B:showJeiInformationTab=true
}


tooltips {
    # If true, will integrate with item tooltips.
    B:enableTooltipIntegration=true

    # If true, will only show tooltip information when Advanced Tooltips enabled (F3+H).
    B:restrictToAdvancedTooltips=false

    # If true, will show the hold shift key for more information.
    B:showShiftKeyInfo=true

    # If true, will only show tooltip information when Shift key pressed.
    B:useShiftKey=true
}


top {
    # If true, will integrate with The One Probe.
    B:enableTopIntegration=true

    # If true, will only show information when Sneaking.
    B:useSneaking=true

    blocks {
        # If true, will show the block information in The One Probe.
        B:showBlockInformation=true

        # If true, will show the block tooltip in The One Probe.
        B:showBlockTooltip=true
    }

    entities {
        # If true, will show the entity information in The One Probe.
        B:showEntityInformation=true
    }

}


waila {
    # If true, will integrate with Waila.
    B:enableWailaIntegration=true

    # If true, will only show information when Sneaking.
    B:useSneaking=false

    blocks {
        # If true, will show the block information in Waila.
        B:showBlockInformation=true

        # If true, will show the block tooltip in Waila.
        B:showBlockTooltip=true
    }

    entities {
        # If true, will show the entity information in Waila.
        B:showEntityInformation=true
    }

}


