# Configuration file

transmutation {
    I:"Energy Calculation Iteration Count"=8
    B:"Transmutation Enabled"=false
}


"world gen crystals" {
    B:"Generate Crystal Ore"=false
    I:"Maximum Y value for ore spawn"=80
    I:"Minimum Y value for ore spawn"=0
    I:"Ore blocks per cluster"=8
    I:"Ore clusters per Chunk"=10
}


