# Configuration file

~CONFIG_VERSION: 0.1.0

world-1185513725 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@abyssa
    B:overlayEnabled=true
}


world-1274775983 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=star
    B:overlayEnabled=true
}


world-1392464400 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1630118009 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1639085139 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1685761651 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1694762137 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-2026399531 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=muffl
    B:overlayEnabled=true
}


world-2075484249 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-233874778 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=luna
    B:overlayEnabled=true
}


world-423571164 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=coal p
    B:overlayEnabled=true
}


world-444485718 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@stora
    B:overlayEnabled=true
}


world-639474765 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-690522478 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-7668264 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=swift
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=desh
    B:overlayEnabled=true
}


world-991367924 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1101665689 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@chicke
    B:overlayEnabled=true
}


world113318802 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1450710373 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wither
    B:overlayEnabled=true
}


world1544803905 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1606761293 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=spong
    B:overlayEnabled=true
}


world1690200562 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=false

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=mushr

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1795680690 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=end ca
    B:overlayEnabled=true
}


world1846650106 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=spon
    B:overlayEnabled=true
}


world1852482978 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=spong
    B:overlayEnabled=true
}


world2102812026 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=nether ca
    B:overlayEnabled=true
}


world3000610 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world3201 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@drac
    B:overlayEnabled=true
}


world36237950 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=guard
    B:overlayEnabled=true
}


world3655441 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world44026315 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=milk
    B:overlayEnabled=true
}


world78185 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world804112541 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=crate
    B:overlayEnabled=true
}


world83201 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world83766130 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=metal
    B:overlayEnabled=true
}


world843541448 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=iron hamm
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=sulf
    B:overlayEnabled=true
}


world921487497 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@abyss
    B:overlayEnabled=true
}


world94921639 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=shulker|glass
    B:overlayEnabled=true
}


world95475431 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@agric
    B:overlayEnabled=true
}


world954777112 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=quarr
    B:overlayEnabled=true
}


world954777113 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=spong
    B:overlayEnabled=true
}


